.user_name {
  position: relative;
  /* Using relative here for responsive */
}

.password {
  position: relative;
  /* Using relative here for responsive */
}

.fa-user {
  color: #4caf50;
  text-shadow: 3px 3px 3px #ccc;
  font-size: 1.5em;
  position: absolute;
  top: 25px;
  left: 5px;
}

.fa-key {
  color: #4caf50;
  text-shadow: 3px 3px 3px #ccc;
  font-size: 1.5em;
  position: absolute;
  top: 25px;
  left: 5px;
}
/* To place icon add padding to password and login */

.LoginForm Input {
  padding-left: 33px;
}
