.Search_Form h1 {
  font-size: 25px;
  padding-bottom: 10%;
}

.Search_Form h3 {
  /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
}

.button {
  margin-bottom: 15px;
}

.Not_results {
  color: red;
  font-size: 20px;
  background-color: lightgrey;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.RestaurantListItem {
  /* Center vertically and horizontally */
  width: 80%;
  border-style: inset;
  border-color: #dab7a7;
  margin-bottom: 2.5%;
  background-color: #f1d1b7;
  color: #3e3e3e;
}

/* Handle styling for bigger screens */
@media all and (min-width: 600px) {
  .Search_Form h1 {
    font-size: 45px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .Search_Form h3 {
  /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;
}
}
