.Search_Form h1 {
  font-size: 25px;
  padding-bottom: 10%;
}

/* Handle styling for bigger screens */
@media all and (min-width: 600px) {
  .Search_Form h1 {
    font-size: 45px;
    padding-top: 15%;
    padding-bottom: 10%;
  }
}
