.HomePage h1 {
  font-size: 40px;
}

.HomePage h3 {
  font-size: 25px;
}

.HomePage p {
  font-size: 15px;
  background-color: #ffff98;
}

.HomePage h5 {
  /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
}

/* Handle styling for bigger screens */
@media all and (min-width: 600px) {
  .HomePage h1 {
    font-size: 70px;
    margin-bottom: 0%;
    padding-bottom: 25px;
  }
  
  .HomePage h3 {
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 30px;
  }

  .HomePage p {
  font-size: 20px;
}
}